---
---

@import "minimal-mistakes/skins/contrast";

@import "{{ site.theme }}";

pre {
	tab-size: 4;
}

.nav__sub-title:empty {
	padding:0;
}

.sidebar p, .sidebar li {
	padding:5px 0 5px 0;
}

.nav__list .nav__items a:before {
	content: "» ";
}

code.highlighter-rouge {
	background-color: #EEE;
}
